.progress {
  pointer-events: none;
  position: absolute;
  height: 2px;
  left: 0;
  top: 0;
  width: 0px;
  opacity: 1;
  transition: all 200ms cubic-bezier(0.5, 0, 0.5, 1);
}

.hide {
  height: 0px;
  box-shadow: 0 0 0 transparent;
}
